<h2><%= @school.name %></h2>

<p><%= @school.location %></p>

<li><%= button_to 'edit', edit_school_path(@school), :method => :get %></li>
<li><%= button_to 'delete', school_path(@school), :method => :delete %></li>